:root 
{
	font-size: 16px;
}

html, body
{
	background-color: white;
	line-height: 1.2;
}

main
{
	margin: auto;
	max-width: 90rem;
	min-width: 56.25rem;
}

.maket
{
	background: url("../pic/maket.jpg") no-repeat center;
	background-size: cover;
	display: none;
	height: 4559px;
	left: 0;
	margin: 0 auto;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 1440px;
	z-index: 2;
}

* 
{
	/*border: solid red 1px;*/
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

.invisible
{
	display: none;
}
/*
p.menu 
{
	text-align: center;
	font-size: 2rem;
}
*/

section
{
	position: relative;
	height: 100vh;
	min-height: 700px;
}

h2
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
}

.hero
{

}

.hero__background
{
	width: 100%;
	max-width: 1065px;
	z-index: 0;
}

.hero__background--centered
{
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0; 
	right: 0;

	margin: auto;
}

.hero__text-wrapper 
{
	text-align: center;
	font-size: 5.5rem;
	z-index: 1;
}

.hero__text-wrapper--centered
{
	position: absolute;
	left: 50%; 
	top: 50%;
	transform: translate(-50%, -50%);
}

.hero__text-wrapper--padded
{
	padding: 1.5em 0.8em 1.4em;
}

.hero__text-wrapper--white
{
	background-color: white;
}

.hero__header
{
	font-family: 'Butler', serif;
	font-weight: 300; 
	font-size: 1em;
}

.hero__text
{
	font-size: 0.2em;
}

.hero__text--margined
{
	margin-bottom: -1.2em;
}

.biography
{
	width: 100%;
}

.biography__header
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
}

.biography__header--positioned
{
	position: absolute;
	right: 0;
	top: 0;
}

.biography__header--transformed
{
	transform: rotate(0.75turn) translateX(-1010%);
	transform-origin: top left;
}

.biography__img-container
{
	display: inline-block;
	width: 50%;
	height: 100%;
	max-height: 900px;
}

.biography__img-container--padded
{
	padding: 0 2% 0 9%;
}

.biography__photo
{
	vertical-align: middle;
	width: 100%;
}

.biography__photo--fitted
{
	object-fit: contain;
	max-height: 100%;
}

.biography__txt-container
{
	display: inline-block;
	vertical-align: middle;
	width: 50%;

	font-size: 5.5rem;
	line-height: 1.3;
}

.biography__txt-container--padded
{
	padding: 5% 4% 0 8%;
}

.biography__name
{
	font-family: 'Butler', serif;
	font-size: 1em;
	font-weight: 400; 
}

.biography__about
{
	font-family: 'Roboto', sans-serif; 
	font-size: 0.2em;
	font-weight: 500;
}

.biography__about--gray
{
	color: gray; 
}

.biography__divider
{
	font-size: 0.7em;
}

.biography__divider--margined
{
	margin-top: 8%;
}

.biography__cite
{
	font-family: 'Butler', serif;
	font-size: 0.35em;
	font-weight: 400; 
}

.biography__cite
{
	width: 80%;
}

#designers:after 
{
	content: " ";
	clear: both;
	display: table;
}

.designers-list
{
}

.designers-list--positioned
{
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
}

.designers-list--transformed
{
	transform: translateY(-56%);
}


.designers__header
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
}

.designers__header--positioned
{
	position: absolute;
	left: 69%;
	top: 14%;
}

.designers__header--transformed
{
	transform: rotate(0.75turn);
	transform-origin: bottom;
}

.photocard
{
	float: left;
	margin-top: 6.5%;
	width: 24%;
}

.photocard--sized
{
	margin-right: 8%;
	margin-top: 0;
	width: 42%;
}

.photocard__image
{
	width: 100%;
}

.photocard__image--w90
{
	width: 90%;
}

.photocard__image--w88
{
	width: 88.8%;
}

.photocard__text
{
}

.photocard__text--margined
{
	margin-left: 30%;
}

.photocard__bold-text
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1rem;
	font-weight: 700;
}

.testimonials
{
	display: grid;
	grid-template-columns: 6% 44% 25% 19%;
}

.testimonials--sized
{
	height: 85%;
	width: 82%;
}

.testimonials--positioned
{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.testimonials--transformed
{
	transform: translateY(-40%);
}

.testimonials--margined
{
	margin-left: 7%;
}


.testimonials__header
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
}

.testimonials__header--positioned
{
	position: absolute;
	top: -4rem;
	left: 6%;
}

.links-block
{
	position: relative;
	max-width: 760px;
	height: 3rem;
	width: 80vh;
}

.links-block--in-grid
{
	grid-column-start: 1;
	grid-column-end: 1;
}

.links-block--transformed
{
	transform: rotate(270deg) translateX(-100%);
	transform-origin: top left;
}

.links-block__link-p
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1rem;
	font-weight: 700;
}

.links-block__link-p--position-left
{
	position: absolute;
	top: 0%;
	left: 3%;
}

.links-block__link-p--position-center
{
	position: absolute;
	top: 0%;
	left: 34%
}

.links-block__link-p--position-right
{
	position: absolute;
	top: 0%;
	left: 66%;
}

.links-block__link-a
{

}

.links-block__link-a--position-left
{	position: absolute;
	top: 1rem;
	left: 3%;
}

.links-block__link-a--position-center
{
	position: absolute;
	top: 1rem;
	left: 34%;
}

.links-block__link-a--position-right
{
	position: absolute;
	top: 1rem;
	left: 66%;
}

.testimonials__img-wrapper
{
	overflow: hidden;
}

.testimonials__img-wrapper--in-grid
{
	grid-column-start: 2;
	grid-column-end: 2;
}

.testimonials-block
{

}

.testimonial-block--in-grid
{
	grid-column-start: 4;
	grid-column-end: 4;
}


.testimonial-block__text
{
	font-family: 'Butler', serif;
	font-size: 2rem;
	font-weight: 400; 
	text-align: center;
}

.testimonial-block__text--sized
{
	width: 221px;
}

.testimonial-block__text--padded
{
	padding-bottom: 12%;
}

.testimonial-block__photo
{

}

.testimonial-block__photo--sized
{
	max-height: 760px;
}

.strengths
{
}

.strengths--positioned
{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.strengths--transformed
{
	transform: translateY(-58%);
}

.strengths__header-wrapper
{
	height: 10rem;
	position: relative;
}

.strengths__header
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
}

.strengths__header--positioned
{
	position: absolute;
	left: 33%;
	bottom:-72%;
}

.strengths__header--transformed
{
	transform: rotate(0.75turn);
	transform-origin: top left;
}

.gallery
{
	position: relative;

	display: flex;
	column-gap: 2%; 
	justify-content: flex-start;
	overflow: auto;

	width: 100%;
}

.gallery-image-wrapper
{
}

.gallery-image-wrapper__padded
{
	padding-top: 10%;
}

.gallery-text-wrapper
{
}

.gallery-text-wrapper--padded
{
	padding-left: 4%;
	padding-right: 11%;
}

.gallery-text-wrapper__header
{
	font-family: 'Butler', serif;
	font-weight: 400; 
	font-size: 5.5rem;
}

.gallery-text-wrapper__header--margined
{
	margin-bottom: 15%;
	margin-top: 6%;
}

.gallery-text-wrapper__list
{
	font-family: 'Butler', serif;
	font-size: 2.125rem;
	font-weight: 400; 
	line-height: 1.16;
	list-style-type: none;
}

.gallery-text-wrapper__list--padded
{
	padding-left: 23%;
}

@media (max-width: 1299px), (max-height: 740px) 
{
	.strengths__header--positioned
	{	
		left: 2%;
		bottom: -65%;
	}
}

@media (max-height: 899px) 
{
	.biography__header--transformed
	{
		transform: rotate(0.75turn) translateX(-850%);
	}

	.designers__header--positioned
	{
		top: 10%;
	}
}

@media (orientation: portrait) 
{
	.biography__header--transformed
	{
		transform: rotate(0.75turn) translateX(-700%);
	}

	.designers__header--positioned
	{
		top: 10%;
	}
}

@media (max-width: 1050px) 
{
	.testimonials
	{
		display: grid;
		grid-template-columns: 6% 60% 25%;
	}

	.testimonials--sized
	{
		height: 85%;
		width: 100%;
	}

	.testimonials--margined
	{
		margin-left: 1%;
	}

	.testimonial-block--in-grid
	{
		grid-column-start: 3;
		grid-column-end: 3;
	}

	.testimonial-block__text--padded
	{
		padding-bottom: 0;
	}
}
