:root 
{
	font-size: 16px;
}

html, body
{
	background-color: white;
}

* 
{
	/*border: solid red 1px;*/
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

.invisible
{
	display: none;
}
/*
p.menu 
{
	text-align: center;
	font-size: 2rem;
}
*/

section
{
	position: relative;
	height: 100vh;
	min-width: 900px;
	min-height: 700px;
}

.bg
{
	width: 74%; 
	z-index: 0;
	position: absolute;
	left: 0%; 
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
}

div.logoInner 
{
	padding-top: 10.5rem;
	padding-bottom: 9.5rem;
	padding-left: 4.375rem;
	padding-right: 4.375rem;
	z-index: 1;
	position: absolute;
	left: 50%; 
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.125rem;
	background-color: white;
	line-height: 0;
}

h1.logoInner
{
	font-family: 'Butler';
	font-weight: 300; 
	font-size: 4.83em;
}

h2.logoInner 
{
	position: absolute;
	font-family: 'Roboto'; 
	font-weight: 700;
	font-size: 1em;
	padding-top: 3.6em;
	left: 50%;
	transform: translateX(-50%);
}
