:root 
{
	font-size: 16px;
}

html, body
{
	background-color: white;
	line-height: 1.2;
}

main
{
	margin: auto;
	max-width: 1440px;
	min-width: 900px;
}

.maket
{
	background: url("../pic/maket.jpg") no-repeat center;
	background-size: cover;
	display: none;
	height: 4559px;
	left: 0;
	margin: 0 auto;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 1440px;
	z-index: 2;
}


* 
{
	/*border: solid red 1px;*/
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

.invisible
{
	display: none;
}
/*
p.menu 
{
	text-align: center;
	font-size: 2rem;
}
*/

section
{
	position: relative;
	height: 100vh;
	min-height: 700px;
}

h2
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
}


.bg
{
	bottom: 0;
	left: 0; 
	margin: auto;
	right: 0;
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1065px;
	z-index: 0;
}

.to-center
{
	position: absolute;
	left: 50%; 
	top: 50%;
	transform: translate(-50%, -50%);
}

div.logoInner 
{
	padding: 1.5em 0.8em 1.4em;
	z-index: 1;
	text-align: center;
	font-size: 5.5rem;
	background-color: white;
}

h1.logoInner
{
	font-family: 'Butler', serif;
	font-weight: 300; 
	font-size: 1em;
}

h2.logoInner 
{
	margin-bottom: -1.2em;
	font-size: 0.2em;
}

.bio-wrapper
{
	width: 100%;
}

.bimgdiv
{
	display: inline-block;
	height: 100vh;
	max-height: 900px;
	padding: 0 2% 0 9%;
	width: 50%;
}

.obj-fit
{
	object-fit: contain;
	max-height: 100%;
}

.bioimg
{
	vertical-align: middle;
	width: 100%;
}

.biodiv
{
	display: inline-block;
	font-size: 5.5rem;
	line-height: 1.3;
	padding: 5% 4% 0 8%;
	width: 50%;
	vertical-align: middle;
}

.bioh3
{
	font-family: 'Butler', serif;
	font-size: 1em;
	font-weight: 400; 
}

.biop
{
	color: gray; 
	font-family: 'Roboto', sans-serif; 
	font-size: 0.2em;
	font-weight: 500;
}
.biominus
{
	font-size: 0.7em;
	margin-top: 8%;
}

.biobq
{
	font-family: 'Butler', serif;
	font-size: 0.35em;
	font-weight: 400; 
	width: 80%;
}

.hbio
{
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(0.75turn) translateX(-1010%);
	transform-origin: top left;
}

@media (max-height: 899px) 
{
	.hbio
	{
		position: absolute;
		right: 0;
		top: 0;
		transform: rotate(0.75turn) translateX(-850%);
		transform-origin: top left;
	}
}

@media (orientation: portrait) 
{
	.hbio
	{
		position: absolute;
		right: 0;
		top: 0;
		transform: rotate(0.75turn) translateX(-700%);
		transform-origin: top left;
	}
}

#designers:after 
{
	content: " ";
	clear: both;
	display: table;
}

div.designers
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transform: translateY(12%);
}

.designers-all.designers-jess
{
	margin-right: 8%;
	margin-top: 0;
	width: 42%;
}

img.designers
{
	width: 100%;
}

h2.designers
{
	position: absolute;
	left: 69%;
	top: 14%;
	transform: rotate(0.75turn);
	transform-origin: bottom;
}

@media (max-height: 899px), (orientation: portrait) 
{
	h2.designers
	{
		position: absolute;
		left: 69%;
		top: 10%;
		transform: rotate(0.75turn);
		transform-origin: bottom;
	}
}

.designers-all
{
	float: left;
	margin-top: 6.5%;
	width: 24%;
}

img.louisse
{
	width: 90%;
}

img.kameron
{
	width: 88.8%;
}

figcaption.jess
{
	margin-left: 30%;
}

.abs-50-50
{
	position: absolute;
	left: 50%;
	top: 50%;
}

.test-grid
{
	display: grid;
	grid-template-columns: 6% 44% 25% 19%;
	height: 85%;
	width: 82%;

	transform: translate(-52%, -40%);
}

.col-1
{
	grid-column-start: 1;
	grid-column-end: 1;
}

.col-2
{
	grid-column-start: 2;
	grid-column-end: 2;
}

.col-3
{
	grid-column-start: 3;
	grid-column-end: 3;
}

.col-4
{
	grid-column-start: 4;
	grid-column-end: 4;
}

.row-1
{
	grid-row-start: 1;
	grid-row-end: 1;
}

.test-quote
{
	font-family: 'Butler', serif;
	font-size: 2rem;
	font-weight: 400; 
	padding-bottom: 12%;
	text-align: center;
	width: 221px;
}

@media (max-width: 1050px) 
{
	.test-grid
	{
		display: grid;
		grid-template-columns: 6% 60% 25%;
		height: 85%;
		width: 100%;

		transform: translate(-50%, -40%);
	}

	.col-4
	{
		grid-column-start: 3;
		grid-column-end: 3;
	}

	.test-quote
	{
		font-family: 'Butler', serif;
		font-size: 2rem;
		font-weight: 400; 
		padding-bottom: 0;
		text-align: center;
	}
}

.all-links
{
	position: relative;
	transform: rotate(270deg) translateX(-100%);
	height: 3rem;
	width: 80vh;
	max-width: 760px;
	transform-origin: top left;
}

.test-h2
{
	position: absolute;
	top: -4rem;
	left: 6%;
}

.link-p1
{
	position: absolute;
	top: 0%;
	left: 3%;
}

.link-a1
{
	position: absolute;
	top: 1rem;
	left: 3%;
}

.link-p2
{
	position: absolute;
	top: 0%;
	left: 34%
}

.link-a2
{
	position: absolute;
	top: 1rem;
	left: 34%;
}

.link-p3
{
	position: absolute;
	top: 0%;
	left: 66%;
}

.link-a3
{
	position: absolute;
	top: 1rem;
	left: 66%;
}

.bigimg
{
	overflow: hidden;
}

.smallimg
{
	max-height: 760px;
}

.t-form
{
	transform: rotate(0.75turn);
	transform-origin: top left;
}

.roboto-bold-1rem
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1rem;
	font-weight: 700;
}

.roboto-light-1rem
{
	font-family: 'Roboto', sans-serif; 
	font-size: 1rem;
	font-weight: 400;
}
